@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --border-color: #e0e0e0;
  --text-color: #000000;
  --background-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
